+b("div")(class="page-header")
    +e("div")(class="breadcrumbs")
        include ../breadcrumbs/breadcrumbs

    +e("h1")(class="title")
        = "Кухни KÜCHENBERG"

    +e("p")(class="search-counter")
        | Найдено <strong>308</strong> моделей