+b("div")(class="design-project")
    +e("div")(class="content")
        +e("blockquote")(class="quote")
            = "Кухня — самое важное место в квартире. Здесь заряжаются для нового дня и проводят вечер в кругу семьи, встречают гостей и готовят вместе с детьми. Давайте вместе создадим дизайн кухни вашей мечты."

        +e("div")(class="button")
            +b("a")(href="#", class="button")
                = "Бесплатный дизайн-проект"

    +e("div")(class="author")
        +e("img")(
            src="images/author.jpg"
            class="author-thumbnail"
            alt="Изображение Анны Ивановной"
        )

        +e("h5")(class="author-name")
            = "Анна Иванова"

        +e("p")(class="author-role")
            = "Дизайнер КухниСити"