extends ./contains/default

block settings
    - const title="КухниСити / Каталог";
    - const layout="catalog";
    - const lang="ru";

block content
    include ../blocks/header/header
    include ../blocks/page-header/page-header
    include ../blocks/product-grid/product-grid
    include ../blocks/design-project/design-project
    include ../blocks/product-grid/product-grid
    include ../blocks/features/features
    include ../blocks/director-message/director-message

