+b("div")(class="features")
    +e("div")(class="item")
        +e("h4")(class="title")
            = "100 салонов"

        +e("p")(class="description")
            = "70 салонов в России и 30 в Казахстане, Украине и Беларусь."

    +e("div")(class="item")
        +e("h4")(class="title")
            = "Рассрочка 2 года"

        +e("p")(class="description")
            = "Удобная рассрочка оплаты на 2 года без процентов"

    +e("div")(class="item")
        +e("h4")(class="title")
            = "Свое производство"

        +e("p")(class="description")
            = "Производство 60 тыс. м² в Зеленограде. 600 сотрудников и 69 тыс. заказов с 1991 г."

    +e("div")(class="item")
        +e("h4")(class="title")
            = "Гарантия 24 месяца"

        +e("p")(class="description")
            = "2 года сервисного обслуживания всего кухонного гарнитура KUCHENBERG"